{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    {% if user.is_authenticated %}
      {% if request.get_full_path == "/" or request.get_full_path == "/login" %}
        <!-- Automatically redirect authenticated users from index or login page to home -->
        <meta http-equiv="refresh" content="0;URL=/home/">
      {% endif %}
    {% endif %}
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png" />
    <title>Dustbin IoT</title>
</head>
<body>
  <nav class="navbar">
    <img src="{% static 'img/planet.svg' %}" width="30" height="30" alt="">
    <p><strong>Dustbin IoT System</strong></p>
    {% if user.is_authenticated %}
      <p id="welcome">Welcome, {{user.first_name}}.</p>
    {% endif %}
  </nav>

  {% block content %}

  {% endblock %}

</body>
</html>
