{% extends 'base.html' %}

{% block content %}

    {% if user.is_authenticated %}
    <div class="general-container">
        <div class="dashboard-box one">
            <h1>Menu</h1>
            <br>
            {% if user.is_superuser %}
            <form method="POST" action="info">
                {% csrf_token %}
                <div class="form-group">
                <input type="number" min="1" max="8000" class="form-control find_order" id="service-order" name="find_order" placeholder="Service Order" onChange="Rules(this.form), this.form.submit()">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                    <select id="employee-id" class="form-control selector" name="find_id" onChange="this.form.submit()">
                        <option selected>Employee ID</option>
                        {% for employee in employees %}
                        <option>{{employee.employee_id}}</option>
                        {% endfor %}
                    </select>
                    </div>
                </div>
                <br>
                <div class="form-group">
                <input type="number" min="1" max="100000" class="form-control find_dustbin" id="dustbin-number" name="find_dustbin" placeholder="Dustbin Number" onChange="Rules(this.form), this.form.submit()">
                </div>
                <br>
            </form>
            {% else %}
            <form method="POST" action="inf">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-4">
                    <select id="employee-id" class="form-control selector" name="find_orders" onChange="this.form.submit()">
                        <option selected>User Orders</option>
                        {% for order in orders %}
                        <option>{{order.id}}# ( {{order.date}} )</option>
                        {% endfor %}
                    </select>
                    </div>
                </div>
                <br>
                <div class="form-group">
                <input type="number" min="1" max="100000" class="form-control find_dustbin" id="dustbin-number" name="find_dustbin" placeholder="Dustbin Number" onChange="Rules(this.form), this.form.submit()">
                </div>
                <br>
            </form>
            {% endif %}
            <form action="logout">
                <button type="submit" class="btn btn-outline logout">Logout</button>
            </form>
        </div>

        <div class="dashboard-box two">
            <h1>Sensor</h1>
            <br>
            <div class="gauge-container">
                <div class="gauge p{{sensor.capacity}} big center">
                    <span>{{sensor.capacity}}%</span>
                    <p>Capacity</p>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>
            </div>
            <br>
            <div class="battery-container" style="margin-top: 4rem;">
                <div class="battery container center">
                    <div id="batteryBody">
                        <div id="percentage">
                            <span>{{sensor.battery}}%</span>
                        </div>
                        <div class="trasparent false"></div>
                        <div class="indicator {{level}}" style="width:{{sensor.battery}}%"></div>
                    </div>
                    <div class="batteryEnd">
                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="dashboard-box tree">
            <h1>Information</h1>
            <br>
            <div class="form-group">
                <input type="text" min="1" max="100000" class="form-control readonly" id="sensor-number" placeholder="Dustbin Number" value="{{sensor.id}}" readonly>
            </div>
            <div class="form-group" style="margin-top: 0.7rem;">
                <input type="text" min="1" max="100000" class="form-control readonly" id="sensor-ip" placeholder="Ip Address" value="{{sensor.ip}}" readonly>
            </div>
            <br>
            <div class="card order">
                <div class="card-header">Service Order</div>
                <div class="card-body order-info">
                <h5 class="card-title">
                    # <span> {{order.id}} </span>
                </h5>
                <p class="card-text">
                    <ul class="order-list">
                        <li>Harvest Date: {{order.date}}</li>
                        <li>Employee Id: {{order.employee_id}}</li>
                        <li>Dustbins: {{order.dustbins}}</li>
                    </ul> 
                </p>
                </div>
            </div>
        </div>

        {% if user.is_superuser %}
        <div class="dashboard-box four">
            <h1>Admin</h1>
            <div class="card info">
                <div class="card-header">Information</div>
                <div class="card-body text-info">
                    <span class="card-text">
                        Access the admin panel 
                        for remove, add or modify: 
                        users, employees, orders 
                        and dustbins.
                    </span>
                </div>
            </div>
            <button type="button" class="btn btn-outline update" onclick="location.href='/admin/'">Update</button>
        </div>
        {% endif %}
    </div>

    {% else %}
    <div class="general-container">
        <div class="dashboard-box" style="height:fit-content">
            <strong><h1 class="auth">&#9888;</h1></strong>
            <h3 class="auth">Please, authenticate yourself.</h3>
            <h3 class="auth"><a href="/">Sing in</a></h3>
        </div>
    </div>
    {% endif %}

{% endblock %}
