{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png" />

    <title>Dustbin IoT</title>

  </head>
  <body>

    <div class="row video-area">
      <button type="button" class="login btn btn-outline-dark rounded-pill text-info font-weight-bold m-2" onclick="location.href='/login'">Login</button>
      <div class="col-12" id="video-area">
        <video class="video w-100" autoplay loop muted poster="{% static 'img/poster.jpeg' %}">
          <source src="{% static 'img/clip.mp4' %}" type="video/mp4">
        </video>
        <div class="title h1 vert-center-text text-center ml-0 w-100">Dustbin IoT</div>
        <div class="d-none d-xl-block text-center"><a href="#info"><i class="arrow down"></i></a></div>
      </div><!--//col-->
    </div><!--//row-->
   
    <div class="container" id="info">
      <div class="row">
        <div class="col-md-8">
          <p class="subtitle text-white h1 mt-5"><big>S</big>mart City Service.</p>
        </div><!--//col-->
      </div><!--//row-->

      <div class="row">
        <div class="col-md-8">
          <p class="text-white h3 ml-5">"Dustbin IoT is an intelligent system for managing the refuse collection of a Smart City."</p>
        </div><!--//col-->

        <div class="col-md-4">
          <p class="text-white mt-5 mt-md-0 ml-md-5 pt-1">This project that was conceived as a thesis for the biennial ITS course: "Superior Technician for Smart City & Clean Energy Management".</>
        </div><!--//col-->
      </div><!--//row-->
    </div><!--//container-->

    <div class="container pb-5">

      <div class="d-none d-xl-block text-center mt-5 pt-4"><a href="#"><i class="arrow up"></i></a></div>

      <div class="row row-cols-1 row-cols-md-3 justify-content-around text-center mt-5">

        <div class="col mt-4 order-1">
          <a href="https://github.com/Ariel-MN/IoT">
            <div class="card h-100">
              <img src="{% static 'img/opensource.png' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Open-source</h5>
                <p class="card-text">GitHub repository project code.</p>
              </div><!--//card-body-->
            </div><!--//card-->
          </a>
        </div><!--//col-->

        <div class="col mt-4 order-2 order-md-3">
          <a href="https://montesariel.com/portfolio/project-1">
            <div class="card h-100">
              <img src="{% static 'img/documentation.png' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Documentation</h5>
                <p class="card-text">Information about this project.</p>
              </div><!--//card-body-->
            </div><!--//card-->
          </a>
        </div><!--//col-->

        <div class="col mt-4 order-3 order-md-2">
          <a href="https://montesariel.com">
            <div class="card h-100">
              <img src="{% static 'img/website.png' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">About Me</h5>
                <p class="card-text">Creator's website and portfolio.</p>
              </div><!--//card-body-->
            </div><!--//card-->
          </a>
        </div><!--//col-->

      </div><!--//row-->
    </div><!--//container-->

    <div class="col-12 mt-md-5 pt-md-4">
      <p class="text-center text-secondary">Stock footage provided by Videvo, downloaded from www.videvo.net</p>
    </div><!--//col-->

  </body>
</html>
