{% extends 'base.html' %}

{% block content %}
  <div class="login-box">
      <h2>Login</h2>
      <form id="loginForm" method="POST">
        {% csrf_token %}
        <div class="user-box">
          <input type="text" name="username" required>
          <label>Username</label>
        </div>  
        <div class="user-box">
          <input type="password" name="password" required>
          <label>Password</label>
          {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <spam id="symb">&#9888;</spam><spam id="msg" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</spam>
                {% endfor %}
            </div>
          {% else %}
            <div id="space"></div>
          {% endif %}
        </div>
        <a id="loginBtn" href="#" onclick="this.closest('form').submit();return false;">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Submit
        </a>
      </form>
    </div>
{% endblock %}
