
/* GENERAL */

html {
height: 100%;
}
body {
margin:0;
padding:0;
font-family: sans-serif;
background: linear-gradient(rgb(217, 255, 0), green);
background-repeat: no-repeat;
background-attachment: fixed;
overflow-x: hidden;
}
.navbar {
position: fixed;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
-ms-flex-align: center;
align-items: center;
-ms-flex-pack: justify;
padding: .2rem 1rem;
scale: fixed;
background: rgba(0, 0, 0, .4) !important;
box-shadow: 0 15px 25px rgba(0, 0, 0, .3);
width: 100vw;
height: 7vh !important;
font-size: 2.5vh;
z-index: 2;
}
.navbar p {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: white;
text-decoration: none;
background-color: transparent;
margin-left: 10px;
}
.navbar img {
margin-top: -5px;
vertical-align: middle;
border-style: none;
vertical-align: middle !important;
width: 6vh;
height: 8vh !important;
}

/* LOGIN PAGE */

.login-box {
position: absolute;
top: 50%;
left: 50%;
width: 400px;
padding: 40px;
transform: translate(-50%, -50%);
background: rgba(0,0,0,.5);
box-sizing: border-box;
box-shadow: 0 15px 25px rgba(0,0,0,.6);
border-radius: 10px;
}
.login-box h2 {
margin: 0 0 30px;
padding: 0;
color: #fff;
text-align: center;
}
.login-box .user-box {
position: relative;
}
.login-box .user-box input {
width: 100%;
padding: 10px 0;
font-size: 16px;
color: #fff;
margin-bottom: 30px;
border: none;
border-bottom: 1px solid #fff;
outline: none;
background: transparent;
}
.login-box .user-box label {
position: absolute;
top:0;
left: 0;
padding: 10px 0;
font-size: 16px;
color: #fff;
pointer-events: none;
transition: .5s;
}
.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
top: -20px;
left: 0;
color: #00db9a;
font-size: 12px;
}
.login-box form a {
position: relative;
display: inline-block;
padding: 10px 20px;
color: #00db9a;
font-size: 16px;
text-decoration: none;
text-transform: uppercase;
overflow: hidden;
transition: .5s;
margin-top: 40px;
letter-spacing: 4px
}
.login-box a:hover {
background: rgb(3, 233, 244,.3);
color: #fff;
border-radius: 5px;
box-shadow: 0 0 10px #03e9f4;
}
.login-box a span {
position: absolute;
display: block;
}
.login-box a span:nth-child(1) {
top: 0;
left: -100%;
width: 100%;
height: 2px;
background: linear-gradient(90deg, transparent, #00db9a);
animation: btn-anim1 1s linear infinite;
}
@keyframes btn-anim1 {
0% {
left: -100%;
}
50%,100% {
left: 100%;
}
}
.login-box a span:nth-child(2) {
top: -100%;
right: 0;
width: 2px;
height: 100%;
background: linear-gradient(180deg, transparent, #00db9a);
animation: btn-anim2 1s linear infinite;
animation-delay: .25s
}
@keyframes btn-anim2 {
0% {
top: -100%;
}
50%,100% {
top: 100%;
}
}
.login-box a span:nth-child(3) {
bottom: 0;
right: -100%;
width: 100%;
height: 2px;
background: linear-gradient(270deg, transparent, #00db9a);
animation: btn-anim3 1s linear infinite;
animation-delay: .5s
}
@keyframes btn-anim3 {
0% {
right: -100%;
}
50%,100% {
right: 100%;
}
}
.login-box a span:nth-child(4) {
bottom: -100%;
left: 0;
width: 2px;
height: 100%;
background: linear-gradient(360deg, transparent, #00db9a);
animation: btn-anim4 1s linear infinite;
animation-delay: .75s
}
@keyframes btn-anim4 {
0% {
bottom: -100%;
}
50%,100% {
bottom: 100%;
}
}

/* HOME PAGE */

br {
display: block;
margin: 30px 0;
}
.centered {
position: absolute;
top: 12%;
left: 0%;
overflow: visible;
}
.general-container {
display: flex;
justify-content: center;
flex-wrap: wrap;
}
.dashboard-box.one {
position: relative;
margin: 14px;
width: 350px;
height: 650px;
padding: 40px;
background: rgba(0,0,0,.4);
box-sizing: border-box;
box-shadow: 0 15px 25px rgba(0,0,0,.6);
border-radius: 10px;
}
.dashboard-box.two {
position: relative;
margin: 14px;
width: 350px;
height: 650px;
padding: 40px;
background: rgba(0,0,0,.4);
box-sizing: border-box;
box-shadow: 0 15px 25px rgba(0,0,0,.6);
border-radius: 10px;
}
.dashboard-box.tree {
position: relative;
margin: 14px;
width: 350px;
height: 650px;
padding: 40px;
background: rgba(0,0,0,.4);
box-sizing: border-box;
box-shadow: 0 15px 25px rgba(0,0,0,.6);
border-radius: 10px;
}
.dashboard-box.four {
position: relative;
margin: 14px;
width: 350px;
height: 650px;
padding: 40px;
background: rgba(0,0,0,.4);
box-sizing: border-box;
box-shadow: 0 15px 25px rgba(0,0,0,.6);
border-radius: 10px;
}
.dashboard-box h1 {
margin: 0 0 30px;
padding: 0;
color: #fff;
text-align: center;
}
.battery.container {
width: 240px;
}
.battery.container.center {
margin: 0 auto;
margin-top: 40px;
}
#batteryBody {
float: left;
width: 200px;
height: 75px;
border: 10px lightgray solid;
border-radius:.25rem;
}
.battery:hover span {
cursor: default;
font-size: 1.5em;
color: #00db9a;
}
#percentage {
color: #fff;
position: relative;
float: left;
font-size: 40px;
line-height: 1.8em;
left: 50%;
transform: translate(-50%, 0);
}
.trasparent.false {
position: absolute;
z-index: -1;
clip: rect(0px, 200px, 75px, 0px);
height: 100%;
width: 100%;
background: repeating-linear-gradient(
-55deg,
transparent,
rgb(255, 255, 255, .05) 10px,
rgb(200, 200, 200, .1) 10px,
rgb(200, 200, 200, .1) 20px) !important;
}
.indicator {
height: 100%;
}
.indicator.full {
background-color: #7dbe48;
}
.indicator.medium {
background-color: #ebeb2b;
}
.indicator.low {
background-color:#df5823;
}
.batteryEnd {
float: left;
height: 95px;
width: 15px;
}
.batteryEnd div {
width: 15px;
height: 35px;
margin-top: 30px;
margin-left: 5px;
background-color: lightgray;
border-radius:.25rem;
}
.btn-outline{
margin-left: 35%;
width: 30%;
display:inline-block;
font-weight:400;
text-align:center;
vertical-align:middle;
cursor:pointer;
background-color:transparent;
border:1px solid transparent;
padding:.375rem .75rem;
font-size:1rem;
line-height:1.5;
border-radius:.25rem;
transition:color .20s ease-in-out,background-color .20s ease-in-out,border-color .20s ease-in-out,box-shadow .20s ease-in-out;
color:#00db9a;
border-color:#00db9a;
}
.btn-outline:hover{
color:#fff;
background-color:#00db9a;
border-color:#00db9a;
}
.form-row{
display:-ms-flexbox;
-ms-flex-wrap:wrap;
flex-wrap:wrap;
margin-right:-5px;
margin-left:-5px;
}
.form-row>.col,.form-row>[class*=col-]{
padding-right:5px;
padding-left:5px;
padding-top: 10px;
width: 105%;
}
.form-control {
font-family: inherit;
display: block;
width: 92%;
height: calc(1.5em + .75rem + 2px);
padding: .375rem .75rem;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #fff;
background-color: transparent;
background-clip: padding-box;
border: 1px solid #00db9a;
border-radius: .25rem;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.date-select input {
color: #fff;
background-color: transparent;
border:1px solid transparent;
border-color: #00db9a;
border-radius:.25rem;
}

.card {
position: relative;
display: -ms-flexbox;
display: flex;
-ms-flex-direction: column;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background-color: transparent;
background-clip: border-box;
border: 1px solid rgba(0,0,0,.125);
border-top-color: rgba(0, 0, 0, 0.125);
border-right-color: rgba(0, 0, 0, 0.125);
border-bottom-color: rgba(0, 0, 0, 0.125);
border-left-color: rgba(0, 0, 0, 0.125);
border-radius: .25rem;
word-wrap: break-word;
margin-bottom: 1rem !important;
border-color: #00db9a !important;
}
.card-header {
color: #00db9a !important;
padding: .75rem 1.25rem;
background-color: rgba(0,0,0,.03);
border-bottom: 1px solid rgba(0,0,0,.125);
}
.card-body {
-ms-flex: 1 1 auto;
flex: 1 1 auto;
min-height: 1px;
padding: 1.25rem;
}
.card-title {
margin-left: 80%;
margin-bottom: .75rem;
}
.h5 {
margin-top: 0;
font-size: 1.25rem;
margin-bottom: .1rem;
font-weight: 500;
line-height: 1.2;
}
.text-info {
color: #fff !important;
}
.card-text:last-child {
margin-bottom: 0;
}
.gauge.p51 .slice, .gauge.p52 .slice, .gauge.p53 .slice, .gauge.p54 .slice, .gauge.p55 .slice, .gauge.p56 .slice, .gauge.p57 .slice, .gauge.p58 .slice, .gauge.p59 .slice, .gauge.p60 .slice, .gauge.p61 .slice, .gauge.p62 .slice, .gauge.p63 .slice, .gauge.p64 .slice, .gauge.p65 .slice, .gauge.p66 .slice, .gauge.p67 .slice, .gauge.p68 .slice, .gauge.p69 .slice, .gauge.p70 .slice, .gauge.p71 .slice, .gauge.p72 .slice, .gauge.p73 .slice, .gauge.p74 .slice, .gauge.p75 .slice, .gauge.p76 .slice, .gauge.p77 .slice, .gauge.p78 .slice, .gauge.p79 .slice, .gauge.p80 .slice, .gauge.p81 .slice, .gauge.p82 .slice, .gauge.p83 .slice, .gauge.p84 .slice, .gauge.p85 .slice, .gauge.p86 .slice, .gauge.p87 .slice, .gauge.p88 .slice, .gauge.p89 .slice, .gauge.p90 .slice, .gauge.p91 .slice, .gauge.p92 .slice, .gauge.p93 .slice, .gauge.p94 .slice, .gauge.p95 .slice, .gauge.p96 .slice, .gauge.p97 .slice, .gauge.p98 .slice, .gauge.p99 .slice, .gauge.p100 .slice {
clip: rect(auto, auto, auto, auto);
}
.gauge .bar, .gauge.p51 .fill, .gauge.p52 .fill, .gauge.p53 .fill, .gauge.p54 .fill, .gauge.p55 .fill, .gauge.p56 .fill, .gauge.p57 .fill, .gauge.p58 .fill, .gauge.p59 .fill, .gauge.p60 .fill, .gauge.p61 .fill, .gauge.p62 .fill, .gauge.p63 .fill, .gauge.p64 .fill, .gauge.p65 .fill, .gauge.p66 .fill, .gauge.p67 .fill, .gauge.p68 .fill, .gauge.p69 .fill, .gauge.p70 .fill, .gauge.p71 .fill, .gauge.p72 .fill, .gauge.p73 .fill, .gauge.p74 .fill, .gauge.p75 .fill, .gauge.p76 .fill, .gauge.p77 .fill, .gauge.p78 .fill, .gauge.p79 .fill, .gauge.p80 .fill, .gauge.p81 .fill, .gauge.p82 .fill, .gauge.p83 .fill, .gauge.p84 .fill, .gauge.p85 .fill, .gauge.p86 .fill, .gauge.p87 .fill, .gauge.p88 .fill, .gauge.p89 .fill, .gauge.p90 .fill, .gauge.p91 .fill, .gauge.p92 .fill, .gauge.p93 .fill, .gauge.p94 .fill, .gauge.p95 .fill, .gauge.p96 .fill, .gauge.p97 .fill, .gauge.p98 .fill, .gauge.p99 .fill, .gauge.p100 .fill {
position: absolute;
border: 0.08em solid;
border-color: #00db9a;
width: 0.84em;
height: 0.84em;
clip: rect(0em, 0.5em, 1em, 0em);
border-radius: 50%;
transform: rotate(0deg);
}
.gauge.p51 .bar:after, .gauge.p51 .fill, .gauge.p52 .bar:after, .gauge.p52 .fill, .gauge.p53 .bar:after, .gauge.p53 .fill, .gauge.p54 .bar:after, .gauge.p54 .fill, .gauge.p55 .bar:after, .gauge.p55 .fill, .gauge.p56 .bar:after, .gauge.p56 .fill, .gauge.p57 .bar:after, .gauge.p57 .fill, .gauge.p58 .bar:after, .gauge.p58 .fill, .gauge.p59 .bar:after, .gauge.p59 .fill, .gauge.p60 .bar:after, .gauge.p60 .fill, .gauge.p61 .bar:after, .gauge.p61 .fill, .gauge.p62 .bar:after, .gauge.p62 .fill, .gauge.p63 .bar:after, .gauge.p63 .fill, .gauge.p64 .bar:after, .gauge.p64 .fill, .gauge.p65 .bar:after, .gauge.p65 .fill, .gauge.p66 .bar:after, .gauge.p66 .fill, .gauge.p67 .bar:after, .gauge.p67 .fill, .gauge.p68 .bar:after, .gauge.p68 .fill, .gauge.p69 .bar:after, .gauge.p69 .fill, .gauge.p70 .bar:after, .gauge.p70 .fill, .gauge.p71 .bar:after, .gauge.p71 .fill, .gauge.p72 .bar:after, .gauge.p72 .fill, .gauge.p73 .bar:after, .gauge.p73 .fill, .gauge.p74 .bar:after, .gauge.p74 .fill, .gauge.p75 .bar:after, .gauge.p75 .fill, .gauge.p76 .bar:after, .gauge.p76 .fill, .gauge.p77 .bar:after, .gauge.p77 .fill, .gauge.p78 .bar:after, .gauge.p78 .fill, .gauge.p79 .bar:after, .gauge.p79 .fill, .gauge.p80 .bar:after, .gauge.p80 .fill, .gauge.p81 .bar:after, .gauge.p81 .fill, .gauge.p82 .bar:after, .gauge.p82 .fill, .gauge.p83 .bar:after, .gauge.p83 .fill, .gauge.p84 .bar:after, .gauge.p84 .fill, .gauge.p85 .bar:after, .gauge.p85 .fill, .gauge.p86 .bar:after, .gauge.p86 .fill, .gauge.p87 .bar:after, .gauge.p87 .fill, .gauge.p88 .bar:after, .gauge.p88 .fill, .gauge.p89 .bar:after, .gauge.p89 .fill, .gauge.p90 .bar:after, .gauge.p90 .fill, .gauge.p91 .bar:after, .gauge.p91 .fill, .gauge.p92 .bar:after, .gauge.p92 .fill, .gauge.p93 .bar:after, .gauge.p93 .fill, .gauge.p94 .bar:after, .gauge.p94 .fill, .gauge.p95 .bar:after, .gauge.p95 .fill, .gauge.p96 .bar:after, .gauge.p96 .fill, .gauge.p97 .bar:after, .gauge.p97 .fill, .gauge.p98 .bar:after, .gauge.p98 .fill, .gauge.p99 .bar:after, .gauge.p99 .fill, .gauge.p100 .bar:after, .gauge.p100 .fill {
transform: rotate(180deg);
}
.gauge {
position: relative;
font-size: 120px;
width: 1em;
height: 1em;
border-radius: 50%;
float: left;
margin: 0 0.1em 0.1em 0;
background-color: rgb(255, 255, 255, .1);
}
.gauge.center {
float: none;
margin: 0 auto;
}
.gauge.big {
font-size: 240px;
}
.gauge.small {
font-size: 80px;
}
.gauge > span {
position: absolute;
width: 100%;
z-index: 1;
left: 0;
top: 0;
width: 5em;
line-height: 5em;
font-size: 0.2em;
color: #fff;
display: block;
text-align: center;
white-space: nowrap;
}
.gauge > p {
position: absolute;
width: 100%;
z-index: 1;
left: 0;
top: 0;
width: 11em;
line-height: 14em;
font-size: 0.09em;
color: lightgray;
display: block;
text-align: center;
white-space: nowrap;
}
.gauge:after {
position: absolute;
top: 0.08em;
left: 0.08em;
display: block;
content: " ";
border-radius: 50%;
background-color: rgb(60, 110, 20, .8) !important;
width: 0.84em;
height: 0.84em;
}
.gauge .slice {
position: absolute;
width: 1em;
height: 1em;
clip: rect(0em, 1em, 1em, 0.5em);
}
.gauge:hover > span {
cursor: default;
width: 3.33em;
line-height: 3.33em;
font-size: 0.3em;
color: #00db9a;
}
.gauge.p1 .bar {
transform: rotate(3.6deg);
}
.gauge.p2 .bar {
transform: rotate(7.2deg);
}
.gauge.p3 .bar {
transform: rotate(10.8deg);
}
.gauge.p4 .bar {
transform: rotate(14.4deg);
}
.gauge.p5 .bar {
transform: rotate(18deg);
}
.gauge.p6 .bar {
transform: rotate(21.6deg);
}
.gauge.p7 .bar {
transform: rotate(25.2deg);
}
.gauge.p8 .bar {
transform: rotate(28.8deg);
}
.gauge.p9 .bar {
transform: rotate(32.4deg);
}
.gauge.p10 .bar {
transform: rotate(36deg);
}
.gauge.p11 .bar {
transform: rotate(39.6deg);
}
.gauge.p12 .bar {
transform: rotate(43.2deg);
}
.gauge.p13 .bar {
transform: rotate(46.8deg);
}
.gauge.p14 .bar {
transform: rotate(50.4deg);
}
.gauge.p15 .bar {
transform: rotate(54deg);
}
.gauge.p16 .bar {
transform: rotate(57.6deg);
}
.gauge.p17 .bar {
transform: rotate(61.2deg);
}
.gauge.p18 .bar {
transform: rotate(64.8deg);
}
.gauge.p19 .bar {
transform: rotate(68.4deg);
}
.gauge.p20 .bar {
transform: rotate(72deg);
}
.gauge.p21 .bar {
transform: rotate(75.6deg);
}
.gauge.p22 .bar {
transform: rotate(79.2deg);
}
.gauge.p23 .bar {
transform: rotate(82.8deg);
}
.gauge.p24 .bar {
transform: rotate(86.4deg);
}
.gauge.p25 .bar {
transform: rotate(90deg);
}
.gauge.p26 .bar {
transform: rotate(93.6deg);
}
.gauge.p27 .bar {
transform: rotate(97.2deg);
}
.gauge.p28 .bar {
transform: rotate(100.8deg);
}
.gauge.p29 .bar {
transform: rotate(104.4deg);
}
.gauge.p30 .bar {
transform: rotate(108deg);
}
.gauge.p31 .bar {
transform: rotate(111.6deg);
}
.gauge.p32 .bar {
transform: rotate(115.2deg);
}
.gauge.p33 .bar {
transform: rotate(118.8deg);
}
.gauge.p34 .bar {
transform: rotate(122.4deg);
}
.gauge.p35 .bar {
transform: rotate(126deg);
}
.gauge.p36 .bar {
transform: rotate(129.6deg);
}
.gauge.p37 .bar {
transform: rotate(133.2deg);
}
.gauge.p38 .bar {
transform: rotate(136.8deg);
}
.gauge.p39 .bar {
transform: rotate(140.4deg);
}
.gauge.p40 .bar {
transform: rotate(144deg);
}
.gauge.p41 .bar {
transform: rotate(147.6deg);
}
.gauge.p42 .bar {
transform: rotate(151.2deg);
}
.gauge.p43 .bar {
transform: rotate(154.8deg);
}
.gauge.p44 .bar {
transform: rotate(158.4deg);
}
.gauge.p45 .bar {
transform: rotate(162deg);
}
.gauge.p46 .bar {
transform: rotate(165.6deg);
}
.gauge.p47 .bar {
transform: rotate(169.2deg);
}
.gauge.p48 .bar {
transform: rotate(172.8deg);
}
.gauge.p49 .bar {
transform: rotate(176.4deg);
}
.gauge.p50 .bar {
transform: rotate(180deg);
}
.gauge.p51 .bar {
transform: rotate(183.6deg);
}
.gauge.p52 .bar {
transform: rotate(187.2deg);
}
.gauge.p53 .bar {
transform: rotate(190.8deg);
}
.gauge.p54 .bar {
transform: rotate(194.4deg);
}
.gauge.p55 .bar {
transform: rotate(198deg);
}
.gauge.p56 .bar {
transform: rotate(201.6deg);
}
.gauge.p57 .bar {
transform: rotate(205.2deg);
}
.gauge.p58 .bar {
transform: rotate(208.8deg);
}
.gauge.p59 .bar {
transform: rotate(212.4deg);
}
.gauge.p60 .bar {
transform: rotate(216deg);
}
.gauge.p61 .bar {
transform: rotate(219.6deg);
}
.gauge.p62 .bar {
transform: rotate(223.2deg);
}
.gauge.p63 .bar {
transform: rotate(226.8deg);
}
.gauge.p64 .bar {
transform: rotate(230.4deg);
}
.gauge.p65 .bar {
transform: rotate(234deg);
}
.gauge.p66 .bar {
transform: rotate(237.6deg);
}
.gauge.p67 .bar {
transform: rotate(241.2deg);
}
.gauge.p68 .bar {
transform: rotate(244.8deg);
}
.gauge.p69 .bar {
transform: rotate(248.4deg);
}
.gauge.p70 .bar {
transform: rotate(252deg);
}
.gauge.p71 .bar {
transform: rotate(255.6deg);
}
.gauge.p72 .bar {
transform: rotate(259.2deg);
}
.gauge.p73 .bar {
transform: rotate(262.8deg);
}
.gauge.p74 .bar {
transform: rotate(266.4deg);
}
.gauge.p75 .bar {
transform: rotate(270deg);
}
.gauge.p76 .bar {
transform: rotate(273.6deg);
}
.gauge.p77 .bar {
transform: rotate(277.2deg);
}
.gauge.p78 .bar {
transform: rotate(280.8deg);
}
.gauge.p79 .bar {
transform: rotate(284.4deg);
}
.gauge.p80 .bar {
transform: rotate(288deg);
}
.gauge.p81 .bar {
transform: rotate(291.6deg);
}
.gauge.p82 .bar {
transform: rotate(295.2deg);
}
.gauge.p83 .bar {
transform: rotate(298.8deg);
}
.gauge.p84 .bar {
transform: rotate(302.4deg);
}
.gauge.p85 .bar {
transform: rotate(306deg);
}
.gauge.p86 .bar {
transform: rotate(309.6deg);
}
.gauge.p87 .bar {
transform: rotate(313.2deg);
}
.gauge.p88 .bar {
transform: rotate(316.8deg);
}
.gauge.p89 .bar {
transform: rotate(320.4deg);
}
.gauge.p90 .bar {
transform: rotate(324deg);
}
.gauge.p91 .bar {
transform: rotate(327.6deg);
}
.gauge.p92 .bar {
transform: rotate(331.2deg);
}
.gauge.p93 .bar {
transform: rotate(334.8deg);
}
.gauge.p94 .bar {
transform: rotate(338.4deg);
}
.gauge.p95 .bar {
transform: rotate(342deg);
}
.gauge.p96 .bar {
transform: rotate(345.6deg);
}
.gauge.p97 .bar {
transform: rotate(349.2deg);
}
.gauge.p98 .bar {
transform: rotate(352.8deg);
}
.gauge.p99 .bar {
transform: rotate(356.4deg);
}
.gauge.p100 .bar {
transform: rotate(360deg);
}