{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <title>Login</title>
</head>
<body>
  <nav class="navbar">
    <img src="{% static 'img/planet.svg' %}" width="30" height="30" alt="">
    <p><strong>Dustbin IoT System</strong></p>
  </nav>
  <div class="login-box">
      <h2>Login</h2>
      <form method="POST">
        <div class="user-box">
          <input type="text" name="username" required>
          <label>Username</label>
        </div>  
        <div class="user-box">
          <input type="password" name="password" required>
          <label>Password</label>
        </div>
        <a href="#">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Submit
        </a>
      </form>
    </div>
</body>
</html>
