{% extends 'base.html' %}

{% block content %}
  <div class="login-box">
      <h2>Login</h2>
      <form method="POST">
        <div class="user-box">
          <input type="text" name="username" required>
          <label>Username</label>
        </div>  
        <div class="user-box">
          <input type="password" name="password" required>
          <label>Password</label>
        </div>
        <a href="#">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Submit
        </a>
      </form>
    </div>
{% endblock %}
