body {
font-family: sans-serif;
background: linear-gradient(rgb(217, 255, 0), green);
background-repeat: no-repeat;
background-attachment: fixed;
}
h1 {
color: #417690;
cursor: default;
}
#user-tools {
    color: greenyellow;
    cursor: default;
}
